/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6m;
  font-size: 62.5%;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* adding Contenter With to 1140px for big screen */

.container {
  max-width: 1140px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* creating varible to store some default value to the css */

:root {
  --light-gray-color: #cbcbcb;
  --main-color: #5955b3;
  --hedding-color: #3c2f60;
  --black-color: #000000;
  --hedline-font-family: "Poppins", sans-serif;
  --body-font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6m;
  font-size: 62.5%;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://raw.githubusercontent.com/anuragtiwarime/fsjs2/main/Week%2003/Project%2002/assets/bg.png);
  background-size: cover;
}

/* adding Contenter With to 1140px for big screen */

.container {
  max-width: 1140px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* creating varible to store some default value to the css */

:root {
  --font-color: #ffffff;
  --main-color: #ba0cc5;
  --black-color: #000000;
  --hedline-font-family: "Poppins", sans-serif;
  --body-font-family: "Poppins", sans-serif;
}

/* Styling navigation container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 2rem;
  background-color: var(--black-color);
}

/* setting with to LOGO img */
.navbar div img {
  height: 4.4rem;
}

/* styling the list of MENU item */
.list {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
  list-style-type: none;
  font-family: var(--body-font-family);
  color: var(--font-color);
  margin-left: -32rem;
}

.line {
  width: 0.2rem;
  height: 3rem;
  background-color: var(--font-color);
  margin-left: -34rem;
}

/* styling the nev button */
.button-small,
.button-large {
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: 1rem;
  width: 10.1rem;
  color: var(--font-color);
}

/* styling hero section */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 85vh;
}

/* styling hero large button  */
.button-large {
  width: 25rem;
  height: 6rem;
  font-size: 2rem;
  margin-top: 2rem;
}

/* styling hero heading */

.hero-heading {
  font-size: 6rem;
  width: 60%;
  text-align: center;
  color: var(--font-color);
  font-family: var(--hedline-font-family);
}

/* styling hero description  */

.hero-description {
  font-size: 2rem;
  width: 60%;
  text-align: center;
  color: var(--font-color);
  font-family: var(--hedline-font-family);
}
